<footer class="footer">
<div class="container">
<div class="row">
<div class="col-12 col-md">
    Patrimônio
    <small class="d-block mb-3 text-muted">&copy; <%= Time.current.year %></small>
</div>
<div class="col-6 col-md">
    <h5>Recursos</h5>
    <ul class="list-unstyled text-small">
    <li><a class="text-muted" href="#">Código QR</a></li>
    <li><a class="text-muted" href="#">Locais</a></li>
    <li><a class="text-muted" href="#">Estados</a></li>
    <li><a class="text-muted" href="#">Relatórios</a></li>
    </ul>
</div>
<div class="col-6 col-md">
    <h5>Usuários</h5>
    <ul class="list-unstyled text-small">
    <li><a class="text-muted" href="#">Professores</a></li>
    <li><a class="text-muted" href="#">Administradores</a></li>
    <li><a class="text-muted" href="#">Alunos</a></li>
    </ul>
</div>
<div class="col-6 col-md">
    <h5>Sobre</h5>
    <ul class="list-unstyled text-small">
    <li><a class="text-muted" href="#">Equipe</a></li>
    <li><a class="text-muted" href="#">Local</a></li>
    <li><a class="text-muted" href="#">Dados</a></li>
    <li><a class="text-muted" href="#">Termos</a></li>
    </ul>
</div>
</div>
</div>
</footer>