<div class="container">

  <div class="py-5 text-center">
    <h2>Editar local <%= @local.nome%></h2>
    <p class="lead">Mude os atributos do seu local.</p>
  </div>

  <%= render 'form', local: @local %>

  <div class='py-5'>
    <%= link_to 'Voltar', locals_path, class:'btn btn-secondary my-2' %>
    <%= link_to 'Detalhes', @local, class:'btn btn-secondary my-2' %>
  </div>

</div>