<div class="container">

  <div class="py-5 text-center">
    <h2>Editar item <%= @item.nome%></h2>
    <p class="lead">Mude os atributos do seu item.</p>
  </div>

  <%= render 'form', item: @item %>

  <div class='py-5'>
    <%= link_to 'Voltar', itens_path, class:'btn btn-secondary my-2' %>
    <%= link_to 'Detalhes', @item, class:'btn btn-secondary my-2' %>
  </div>

</div>

