<div class="container">

  <div class="py-5 text-center">
    <h2>Formulário de cadastro</h2>
    <p class="lead">É necessário escolher um item do Siloms, um nome para o item ...</p>
  </div>

  <%= render 'form', item: @item %>

  <div class='py-5'>
    <%= link_to 'Voltar', itens_path , class:'btn btn-secondary my-2' %>
  </div>

</div>

