<div class="container">

  <div class="py-5 text-center">
    <h2><%= @estado.nome%></h2>
  </div>

  <p>
    <strong>Descricao:</strong>
    <%= @estado.descricao %>
  </p>

  <div class='py-5'>
     <%if policy(Estado).edit? %>
    <%= link_to 'Editar', edit_estado_path(@estado) , class:'btn btn-secondary my-2' %>
     <%end%>
    <%= link_to 'Voltar', estados_path, class:'btn btn-secondary my-2' %>
  </div>

</div>
